/* Images */
img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom; /* Suppress the space beneath the baseline */
}

img.alignRight{
    margin: 0 0 5px 15px;
}

img.alignLeft{
    margin: 0 15px 5px 0;
}
